/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif), sans-serif;
  font-variation-settings: 'wght' var(--main-text-font-weight);
  background-color: var(--bg-color);
  color: var(--accent-color);

  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border: 2px solid var(--accent-color);
  margin: 100px 0;
  block-size: clamp(20.438rem, 3.85vw + 19.535rem, 23rem);
  inline-size: var(--section-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem) 0 25px;
  background-color: var(--bg-color);
}

.header__logo {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  margin-block-end: 20px;
}

.header__title {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

.header__theme-menu {
  margin: 22px 0;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  padding-inline-start: 14px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  block-size: 14px;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset: 0 auto 0 -10px;
  animation: moving-arrow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

/*Вариант реализации плавного подчёркивания при фокусе с transition*/
/*.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
} */
/*-----------------------------------------------------------------*/

/*Вариант реализации плавного подчёркивания при фокусе с transform и transition*/
.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
/*-----------------------------------------------------------------------------*/

.content {
  inline-size: var(--section-width);
}

.cards {
  
}

.cards__list-item {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.cards__list-item:not(:last-child) {
  margin-block-end: 50px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__title {
  font-style: normal;
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: 18px;
  line-height: 121%;
  padding: 3px 10px;
}

.card__image-container {
  position: relative;
}

.card__image {
  display: block;
  inline-size: 100%;
}

.card__image-label {
  display: block;
  position: absolute;
  inset: 25px 25px auto auto;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--stroke-color), 
    0 1px var(--stroke-color), 
    1px 0 var(--stroke-color), 
    0 -1px var(--stroke-color);
}

@supports((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .card__image-label {
      -webkit-text-stroke: 1px var(--stroke-color);
      text-stroke: 1px var(--stroke-color);
      text-shadow: none;
  }
} 

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__paragraph {
  font-style: normal;
  font-size: 18px;
  line-height: 117%;
}

.card__like-container {
  padding: 0 25px 25px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  inline-size: 38px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  transition: border-color 0.3s ease;
}

.card__like-button {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
  background-color: var(--bg-color);
}

.card__like-button:focus,
.save-button:focus,
.modal__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button::after,
.save-button::after,
.modal__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: 0 0;
  position: absolute;
  inset: 0;
}

.card__like-button:hover::after,
.save-button:hover::after,
.modal__button:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.footer {
  padding: 52px 0 103px;
  display: flex;
  justify-content: center;
}

.save-button {
  inline-size: 335px;
  block-size: 55px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  color: var(--accent-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

.save-icon {
  inline-size: 21px;
  block-size: 21px;
  /* color: var(--accent-color); */
  color: var(--btn-text-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

.modal[open] {
inline-size: 357px;
background-color: var(--bg-color);
/* background-color: transparent; */
border: 2px solid var(--accent-color);
padding: 30px;
display: grid;
gap: 30px;
}

.modal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal__save-icon {
inline-size: 39px;
block-size: 39px;
color: var(--accent-color);
}

.modal__text {
inline-size: 234px;
font-family: var(--accent-font);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
text-transform: uppercase;
color: var(--accent-color);
}

.modal__button {
font-family: var(--accent-font);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 90%;
inline-size: 293px;
block-size: 38px;
border: 2px solid var(--accent-color);
cursor: pointer;
background-color: var(--bg-color);
text-transform: uppercase;
position: relative;
}

.modal::backdrop {
  background-color: #000000;
  opacity: 0.75;
} 


.filter-brightness {
  filter: brightness(200%);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-blur {
  filter: blur(0.8rem);
}

.filter-saturate {
  filter: saturate(28%)
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-multiple {
  filter: brightness(120%) saturate(110%) hue-rotate(75deg);
}


@media (width <= 375px) {

  .card__image-label {
    inset-inline-end: 17px;
  }

  .save-button {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .save-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .modal[open] {
    inline-size: 341px;
    padding: 30px 42px;
  }

  .modal__text {
    inline-size: 198px;
  }

  .modal__button {
    inline-size: 257px;
  }

}

