/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter';
    --accent-font: 'Press Start 2P';
    --main-text-font-weight: 400;
    --title-font-weight: 700;

    --bg-color: #FFFFFF;
    --accent-color: #000000;


}